[project]
name = "game-boy"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aiohttp>=3.13.2",
    "python-dotenv>=1.2.1",
    "sqlalchemy>=2.0.45",
]
